apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-monitoring
  namespace: prometheus-system
spec:
  releaseName: prometheus-monitoring
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 5m
  install:
    remediation:
      retries: 3
  # Default values
#  values:
#    alertmanager:
#      ingress:
#        enabled: true
#        annotations:
#          kubernetes.io/ingress.class: nginx
#        paths:
#        - /
#    grafana:
#      adminPassword: password
#      ingress:
#        enabled: true
#        annotations:
#          kubernetes.io/ingress.class: nginx
#        path: /
#    prometheus:
#      ingress:
#        enabled: true
#        annotations:
#          kubernetes.io/ingress.class: nginx
#        paths:
#        - /
